.pcustomNotification{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
  }
  .pfullNotifContainer{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    opacity: 0;
  }
  
  .ppnotifContainer{
    z-index: 6;
    position: absolute;
    /* border: 1px solid; */
    background: white;
    right: -18px;
    top: 25px;
    padding: 10px 0px;
    border-radius: 12px;
    border-top-right-radius: 0px;
    box-shadow: 0 5px 15px 2px rgb(64 70 74 / 20%);
    width: max-content;
    /* box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%); */
  }
  .pnodtiAllConts{
    display: flex;
    flex-direction: column;
    /* overflow: scroll; */
  }
  .pnottablecont{
    padding: 10px;
  }
  
  .pnotifFluid{
    display: flex;
  }
  
  .pnottableimgdata{
    display: flex;
    justify-content: start;
    align-items: center;
    height:20px;
  }
  .pnotifCont{
    display: flex;
    /* border-bottom: 0.5px solid rgba(170, 170, 170, 0.349); */
    /* width: max-content; */
    padding: 10px;
    cursor: pointer;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  .profile-user-details {
    padding: 0px 15px;
    font-size: 14px;
}

.profile-user-details:nth-child(2){
    border-bottom: 0.5px solid rgba(170, 170, 170, 0.349);
    padding-bottom: 12px;
    font-size: 11px;
}



  .pnotifCont p {
    margin: 0px;
  }
  .pnotifCont:hover{
    /* background: #c4c4c442; */
    transition: all 0.2s ease;
    background: #f8f9fa;
  }
  .pnottableimgdata {
    padding-left: 0px;
  }
  .pnottableimgdata img{
    border: 1px solid rgba(17, 15, 15, 0.26);
    border-radius: 10px;
    background: #fff;
    padding: 3px;
    width: 20px;
  }
  
  
  
  
  .pnotifSenderName p {
    font-family: 'Poppins-SemiBold';
    font-size: 14px;
    color: #333;
    line-height: 5px;
  }
  .pnotifSenderTime{
    flex: 1;
  }
  .pnotifSenderTime p {
    font-family: 'Poppins';
    font-size: 12px;
    color: #aaa;
    line-height: 5px;
  }
  
  .preadAllNotif p {
    font-family: 'Poppins-Medium';
    margin: 4px;
    text-align: center;
    color: #0d6efd;
    cursor: pointer;
  }

  
  /* media query  */
  @media(max-width:300px){
    .pnotifContainer{
      width: 30vw;
    }
    #pnotifimageavatar img{
      padding: 0px;
      width: 10px;
    }
    .preadAllNotif p {
      font-family: 'Poppins-Medium';
      margin: 2px;
      font-size: 8px;
    }
    .pnotifSenderName p {
      font-family: 'Poppins-SemiBold';
      font-size: 10px;
    }
    .pnotifSenderTime p {
      font-size: 10px;
    }
  }
  
  @media(min-width:300px){
    .pnotifContainer{
      width: 30vw;
    }
    #pnotifimageavatar img{
      padding: 0px;
      width: 10px;
    }
    .preadAllNotif p {
      font-family: 'Poppins-Medium';
      margin: 2px;
      font-size: 10px;
    }
    .pnotifSenderName p {
      font-family: 'Poppins-SemiBold';
      font-size: 12px;
    }
    .notifSenderTime p {
      font-size: 12px;
    }
  }
  
  @media(min-width:500px){
    .pnotifContainer{
      width: 20vw;
    }
    #pnotifimageavatar img{
      padding: 0px;
      width: 18px;
    }
    .preadAllNotif p {
      font-family: 'Poppins-Medium';
      margin: 2px;
      font-size: 12px;
    }
    .pnotifSenderName p {
      font-family: 'Poppins-SemiBold';
      font-size: 12px;
    }
    .pnotifSenderTime p {
      font-size: 12px;
    }
  }
  
  @media(min-width:900px){
    .pnotifContainer{
      width: 10vw;
    }
    #notifimageavatar img{
      padding: 0px;
      width: 20px;
    }
    .readAllNotif p {
      font-family: 'Poppins-Medium';
      margin: 2px;
      font-size: 14px;
    }
    .notifSenderName p {
      font-family: 'Poppins-SemiBold';
      font-size: 13px;
    }
    .pnotifSenderTime p {
      font-size: 12px;
    }
  }
  
  /* 
  @media(min-width:768px){
    .login-sec{
        min-width: 270px;
        padding: 25px;
    }
  }
  @media(min-width:1024px){
    .login-sec{
        min-width: 320px;
        padding: 40px;
    }
  }
  @media(min-width:1440px){
    .login-sec{
        min-width: 320px;
        padding: 40px;
    }
  }
  @media(min-width:1440px){
    .login-sec{
        min-width: 350px;
        padding: 60px;
    }
  }
  @media(min-width:2560px){
    .login-sec{
        min-width: 450px;
        padding: 60px;
    }
  } */