
.modal{
    position: fixed;
    z-index: 1300;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
}


.modal-content{
    position: fixed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-tap-highlight-color: transparent;
    z-index: -1;
}
.modal-style {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 400px; */
    background: #ffffff;
    padding: 20px 20px 20px 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    text-align: center;
}


.delete-btn {
    background: #E86E6E;
    color: #ffffff;
    border: 1px solid #E86E6E;
    border-radius: 12px;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 20px;
    padding: 10px 30px;
}

.cancel-btn {
    background: #ffffff;
    color: #000000;
    border: 1px solid #A6A6A6;
    border-radius: 12px;
    padding: 5px 10px;
    cursor: pointer;
    padding: 10px 30px;
}
img.delete-popupicon {
    margin: 0px auto;
    width: 70px;
}

@media(max-width:530px){
  .modal-style{
    width: 80%;
  }
}