.projects_reports_table {
  width: 100%;
  overflow-x: auto;
}
#completedreporttable {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  border-top: 0px;
}

#completedreporttable th {
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.5);
}
#completedreporttable tr td {
  padding: 15px 20px;
  text-align: left;
  font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #000000;
}
progress[value]::-webkit-progress-bar,
.project-progress {
  background-color: #fff;
  border-radius: 0px;
  border: 1px solid #ccc;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; */
}
progress[value]::-webkit-progress-value {
  background-color: #33ff00;
}

.completed_reports .addItemButton {
  display: none;
}
.leftsidetableheader {
  padding: 12px;
}
#completedreporttable tr td img.tableimgdata {
  border: 1px solid rgba(17, 15, 15, 0.26);
  border-radius: 10px;
  padding: 3px;
  width: 20px;
}
